<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Story 6 </title>
</head>
<body>
    <h1 id = "judul"> Status </h1>
    <div>
    	<form method="POST">
    		{% csrf_token %}
    		{{form.message}}
    		<input id = "submit" type = "submit" class ="button" value = "Add">
    	</form>
    </div>
    <div>
    	{% for status in status_list %}
    	<div>
    		<h2> {{status.message}} </h2>
    		<p> {{status.time_message}}</p>
    	</div>
    	{% endfor %}
    </div>
</body>
</html>
